{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 90,
  "jsxBracketSameLine": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "disableLanguages": [
    "vue",
    "html"
  ]
}
